
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.background {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(image1.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 80%;
    margin: auto;
    padding:35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    font-size: 18px;
    font-weight: 700;
}

.navbar ul li a {
    text-decoration: underline;
    color: azure;
    text-transform: uppercase;
}

.socials {
    position: absolute;
    bottom: 10px;
    left: 45%;
    display: inline-flex;
}

.socials i {
    color: white;
    text-decoration: none;
    width: 75px;
    margin-bottom: 15px;
    font-size: 20px;
}

.socials li {
    list-style-type: none;

}

.content {
    padding: 65px 100px ;
    position: relative;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin-top:30px;
}

.textbox {
    position: relative;
    color: white;
    align-items:justify;
    max-width: 600px;
    line-height: 2;
}

.ironman {
    width: 400px;
    height: auto;
    /* border: 1px solid #ccc; */
    margin-right: 10px;
}

.content h1{
    font-size: 75px;
    border: 1px solid #ccc;
    
}
.content p {
    font-size: 20px;
    text-align: justify;
    font-weight: 100;
    border: 1px solid #ccc;
    line-height: 2.0;
}

@media (min-width: 280px) and (max-width: 1143px) {
    .ironman {
        display: none;
    }
    

    .content {
        padding-top: 5px;
        display: relative;
    }

    .content h1 {
        text-align: center;
    }

    .navbar ul li, .logo {
        width: 75px;
        list-style: none;
        display: inline-block;
        margin: 0 25px;
        font-size: 15px;
        font-weight: 700;

}


@media (min-width: 280px) and (max-width: 565px) {
    .content p {
        font-size: 10px;
    }

    .content h1 {
        text-align: center;
        font-size: 35px;
    }

}