#color3 {
    color: rebeccapurple;
}

.big {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 6em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}