
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:rgb(37, 37, 37);
    line-height: 1.3;
}

body {
    padding:1rem;
}

h1 {font-size: 2rem;
    text-transform: uppercase;
}

h2 {font-size: 1.27rem;
    text-transform: uppercase;
    border-top: 2px solid rgb(197, 197, 197);
    border-bottom: 2px solid rgb(197, 197, 197);
    padding: 1rem 0;
    margin-bottom: 2rem;

}

h3 {font-size: 1.0rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: #F5B041;

}

p {color:rgb(77, 77, 77);
    line-height: 1.7;

}

section + section {
    margin-top: 2rem;
}

li + li {
    margin-top: 0.5rem;
}

a {
    text-decoration: none;
    color:inherit;
}

ul {
    list-style:none;
}

/* Tags adjusments starts here  */

.profile {
    text-align: center;
}

.profile img {
    width: 15rem;
    height: 15rem;
    border-radius: 700px;
    
}

.profile p {
    margin-bottom: 1rem;
    color:  lightslategrey;
    font-weight: 500;
    font-size: 1.27rem;
}
.contact ul {
    margin-top: -2rem;
}

.contact li {
    text-align: right;
    text-transform: uppercase;
    padding: 1rem;
    color:  lightslategrey;
    border-bottom: 2px solid rgb(197, 197, 197);
}

.skills > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}