footer {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #f1f1f1;
    text-align: center;
    height: auto;
    width: 100%;
}

.sticky-footer{
    position: sticky;
}

.footercontent p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #315d18;
    margin-top: 5px;
}
.footercontent li {
    font-family: 'Montserrat', sans-serif;
    display:inline-block;
    color: #315d18;
    justify-content: space-between;
    align-items:center;
    padding: 10px 15px;
}
.footercontent a {
    text-decoration:none;
    font-size: 24px;
    color: #315d18;
}

img.image{
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
}
