.color1 {
        height: 70px;
        width: 200px;
        background-color: lightgrey;
        position: fixed;
}

.color3 {
    height: 60px;
    width: 70px;
    background-color: rgb(168, 27, 27);
    position: relative; 
    top: 5px;
    left: 5px;
}

.color2 {
    height: 60px;
    width: 70px;
    background-color: rgb(229, 255, 0);
    position: relative; 
    top: 5px;
    left: 5px;
}